     body {
        background-image: url(./logo_etc/sea.jpg);
        background-size: cover;
        background-repeat: no-repeat; 
        margin: 0;
    }
    .main{
        height:960px;
        padding-top: 10px;
        width: 95%;
        margin: 0 auto;
        overflow: scroll;
    }
     .header {
        display: flex;
        padding-bottom: 20px;
        background-color: white;
    }
    .header_next {
        flex: 1;
        text-align: right;
    }
    h1 {
        background: url(./logo_etc/header_logo.jpg) no-repeat;
        background-size: contain;
        background-position: 280px;
        text-align: left;
        padding-left: 40px;
    }
    .top_logo {
        text-decoration:none;
        color: black;
    }
    .logout {
        display: block;
        padding-top: 30px;
        padding-right: 20px;
    }
    footer {
        text-align: center;
        padding-top: 50px;
        padding-bottom: 50px;
        clear:both;
    }
    .copyright {
        border-top: solid 1px;
        padding-top: 20px;
    }
    .cart_msg {
        color: red;
    }
    .company_name {
        font-family: serif;
    }