    body {
        background-image: url(./logo_etc/sea.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        margin: 0;
        -webkit-text-size-adjust: 100%;
    }
    .main {
        height: 900px;
        overflow:scroll;
    }
    .header {
        display: flex;
        padding-bottom: 20px;
        background-color: white;
    }
    .header_next {
        flex: 1;
        text-align: right;
    }
    h1 {
        background: url(./logo_etc/header_logo.jpg) no-repeat;
        background-size: contain;
        background-position: 280px;
        text-align: left;
        padding-left: 40px;
    }
    table {
        width: 100%;
        border-collapse: collapse;
    }
    table, tr, th, td {
        border-bottom: solid 1px;
        padding: 10px;
        text-align: center;
    }
    .search_result {
        color: red;
        font-size: 20px;
    }
    .sold_out {
        color: red;
    }
    .top_logo {
        text-decoration:none;
        color: black;
    }
    .nothing {
        color: red;
        font-size: 16px;
    }
    .logout {
        display: block;
        padding-top: 30px;
        padding-right: 20px;
    }
    footer {
        text-align: center;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .copyright {
        border-top: solid 1px;
        padding-top: 20px;
    }
    .company_name {
        font-family: serif;
    }